/* GLOBAL PAGE SETTINGS */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

body {
    margin: auto;
    max-width: 900px;
    background-color: #0D1117;
    color: #00Fa9a;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 30px;
}

h1, #best-movie-div div {
    font-family: "Raleway", sans-serif;
}

/* HEADER PART */

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: #00FA9A 1px solid;
    align-items: flex-end;
}

.nav_menu {
    display: flex;
    margin-right: 20px;
}

.nav_menu a {
    margin-right: 15px;
    margin-bottom: 10px;
    color: #00FA9A;
    font-size: 1.3em;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: bolder;
}

.nav_menu a:hover {
    color: #00FFFF;

}

/* DROP DOWN CATEGORIES PART */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    font-size: 0.8em;
    width: 115px;
    padding: 5px;
    border: 1px solid #00FFFF;
    background-color: rgba(13,17,23,0.8);

}

.dropdown-content a {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(0,255,255,0.1);
}

/* BEST MOVIE BOX */

#best-movie-div {
    flex-grow: 3;
    border: #00f9a9 1px solid;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}


#best-movie-div div {
    flex-grow: 3;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
}

#best-movie-btn {
    align-self: flex-end;
    order: 3;
    position: absolute;
    width: 100%;
}

#best-movie-btn:hover {
    cursor: pointer;
}



/* GRID CROUSEL CONTENT */

.main-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.carousel {
    overflow: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.grid-container {
    display: grid;
    grid-gap: 16px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
}

.grid-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 180px;
    height: 160px;
    border: 1px solid #00fa9a;
}

.grid-items:hover {
    border-color: #00ffff;
    color: #00ffff;
}

.grid-items p {
    background-color: rgba(13,17,23,0.8);
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-weight: bolder;
}

.description, #best-movie-btn {
    background-color: rgba(191,191,191,0.2);
    color: yellow;
    border: none;
    height: 30px;
    width: 100%;
}

.description:hover {
    cursor: pointer;
}

.movie_pic {
    width: 80%;
    height: 100%;
}

/* Scrolling buttons */

.prev {
    margin-right: 10px;
}

.next {
    margin-left: 10px;
}

.prev, .next {
    border-radius: 50%;
    border: none;
    height: 40px;
    align-self: center;
    background-color: #00fa9a;
}

.prev:hover, .next:hover {
    background-color: #00ffff;
}

/* MODAL SETTINGS */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */

.modal-content {
    background-color: rgba(13, 17, 23, 0.8);
    margin: 15% auto; /* 15% from the top and centered */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.modal-content img {
    width: 25%;
    height: 60%;
}

.content {
    width: 50%;
    margin-left: 10px;
    text-align: justify;
}

.summary {
    align-self: flex-end;
    margin-top: 10px;
    text-align: justify;
}


/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #00FFFF;
  text-decoration: none;
  cursor: pointer;
}
